<nav class="fixed top-0 left-0 w-full backdrop-blur-md shadow-md z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <!-- Logo o Título -->
      <div class="flex-shrink-0 flex items-center space-x-2">
        <!-- SVG Icono -->
        <img alt="" class="w-8 h-8" src="icons/bug-ant.svg" />

        <!-- Título -->
        <a href="#" class="text-xl font-bold text-white">Zona verde</a>
      </div>
      <!-- Botones -->
      <div class="hidden md:flex space-x-4">
        <a
          href="#"
          class="px-3 py-2 text-sm font-medium text-white hover:text-gray-300"
          >Inicio</a
        >
        <a
          href="#"
          class="px-3 py-2 text-sm font-medium text-white hover:text-gray-300"
          >Servicios</a
        >
        <a
          href="#"
          class="px-3 py-2 text-sm font-medium text-white hover:text-gray-300"
          >Contacto</a
        >
      </div>
    </div>
  </div>
</nav>
